* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Golden";
  src: url("../font/GoldenRatioDemoRegular-VLw6.ttf");
}
body {
  font-family: "Golden";
  line-height: 0;
  cursor: default;
}
.main {
  width: 100%;
  height: 100vh;
  max-height: fit-content;
  background-color: #1963da;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.main.main_dark {
  background-color: #1f1f1f;
}

.main h1 {
  color: white;
  font-size: 30px;
}
.timer {
  margin-top: 20px;
  border-radius: 50%;
  background: linear-gradient(145deg, #1963da, #1e76ff);
  box-shadow: 20px 20px 60px #185ece, -20px -20px 60px #207fff;
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.timer:hover {
  box-shadow: inset 20px 20px 60px #1450af, inset -20px -20px 60px #1c6ced;
}
.main.main_dark .timer {
  background: linear-gradient(145deg, #1c1c1c, #212121);
  box-shadow: 23px 23px 46px #121212, -23px -23px 46px #2c2c2c;
}
.main.main_dark .timer:hover {
  box-shadow: inset 33px 33px 66px #0e0e0e, inset -33px -33px 66px #2a2a2a;
}

.timer i {
  font-size: 40px;
  position: absolute;
  text-wrap: nowrap;
  top: 40px;
  color: rgba(255, 255, 255, 0.3);
  line-height: 0;
}
.lap {
  position: absolute;
  top: 110px;
  color: rgba(255, 255, 255, 0.3);
}
.timer h1 {
  font-size: 55px;
  text-wrap: nowrap;
}
.timer p {
  position: absolute;
  font-size: 20px;
  bottom: 120px;
  color: rgba(255, 255, 255, 0.3);
}
.action {
  position: absolute;
  height: 100px;
  bottom: -30px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
}
.action > div {
  background-color: white !important;
  padding: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.26);
}
.action > div > i {
  color: #185ece;
  font-size: 40px;
  line-height: 0;
  position: static;
}
.main.main_dark .timer .action > div > i {
  color: #000000 !important;
}
.action > div.btn-play {
  padding: 30px;
}

.timeList {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 70px;
  width: 30%;
  height: 200px;
}
.timeList p {
  position: static;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
}
.timeItem {
  margin-top: revert;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 15px;
}
.timeItem i {
  color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.mood {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.26);
  transform: rotate(-20deg);
  z-index: 100;
}
.main.main_dark .mood i {
  color: #000000 !important;
}
.mood i {
  font-size: 20px;
  color: #185ece;
}
@media screen and (max-width: 1365px) {
  .timer {
    margin-top: 50px;
    width: 300px;
    height: 300px;
  }
  .timer i {
    font-size: 35px;
    top: 30px;
  }
  .timer h1 {
    font-size: 50px;
  }
  .timer p {
    font-size: 18px;
    bottom: 90px;
  }
  .action {
    bottom: -40px;
  }
  .action > div {
    padding: 15px;
  }
  .action > div > i {
    font-size: 30px;
  }
  .action > div.btn-play {
    padding: 30px;
  }
  .timeList {
    margin-top: 100px;
    width: 80%;
  }
  .lap {
    top: 90px;
  }
}
.time_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
